
#image-create {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; 
}

#image-create img {
    width: 250px; 
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#image-create img:hover {
    transform: scale(1.1); 
}

.background-container {
    background-image: url('ff.jpg') !important;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    color: #DCE0D8ff;
    border-radius: 50px;
    margin: 20px;
    padding-top: 50px; 
}
#airQuality{
    margin-left: 130px  ;
}

footer{
    background-color: darkslategrey;
}